<div class="listing_page">

  <div class="list_item1">

    <div class='bank_logo1'>
      <img src="assets/images/Al_Rajhi_Bank.png" alt="Bank logo" srcset="" style="width: 145px;height: 51px;" />
    </div>
    <p class="text_list1">Al Rajhi Bank Personal Financing-i</p>
    <p class="text_list2">
      Obtain cash for personal use with no guarantor required. Shariah compliant personal plan which enables you to
      extend your financing tenure of up to 8 years.

    </p>
    <p class="text_list3">Interest rate</p>
    <p class="text_list4">6.88%</p>
    <p class="text_list5"> Monthly repayment</p>
    <p class="text_list6">RM 1,005</p>
    <p class="text_list7">6 months</p>
    <div class="bnt1">
      <input type="button" value="Apply Now" class="button">
    </div>

  </div>

</div>