<header>
   <div class='logo'>
      <img src="assets/images/logo.png" alt="image" />
   </div>
   <div class="header_font" style="width: 150px;
  height:16px;
  position: absolute;
  left:75% ;
  top:20px;
  margin: 0px;">
      <a href="#"> <img src="assets/images/icon-lc.png" alt="image" /> Learning center</a>
   </div>
   <div class="header_font" style="width: 150px;
  height:16px;
  position: absolute;
  left:85% ;
  top:20px;
  margin: 0px;">
      <a href="#"> <img src="assets/images/icon-reviews.png" alt="image" /> User Reviews</a>
   </div>
</header>
<nav>
   <ul>
      <li>
         <a href="#"><img src="assets/images/icon-cc.png" alt="image" /> Credit Card <img src="assets/images/Shape.png"
               alt="image" /></a>
      </li>
      <li>
         <a href="#"><img src="assets/images/icon-bb.png" alt="image" /> Broadband <img src="assets/images/Shape.png"
               alt="image" /></a>
      </li>
      <li>
         <a href="#"><img src="assets/images/icon-loans.png" alt="image" /> Loans <img src="assets/images/Shape.png"
               alt="image" /></a>
      </li>
      <li>
         <a href="#"><img src="assets/images/icon-savings.png" alt="image" /> Savings & Investment <img src="assets/images/Shape.png"
               alt="image" /></a>
      </li>
      <li>
         <a href="#"><img src="assets/images/icon-insurance.png" alt="image" /> Insurance <img src="assets/images/Shape.png"
               alt="image" /></a>
      </li>
      <li>
         <a href="#"><img src="assets/images/icon-tools.png" alt="image" /> Tools <img src="assets/images/Shape.png"
               alt="image" /></a>
      </li>


   </ul>
</nav>
<div class="masterboard">
   <img src="assets/images/image2.png" alt=" masterboard" style="width:100%;position: absolute;height: 230px;" />
   <p class="mast1">Find the best Personal Loan in Malaysia</p>
   <p class="mast2">Use the calculator below to find your best loan and apply for free!</p>
</div>

<app-calculator class="calulator"></app-calculator>


<!-- app-listing-page is the child component here. 
   Using parent and child component relationship, 
   listing data can be shared from parent component (this component)
    to child component using Input decorator -->

<!-- <app-listing-page [inputDecoratorName]="value" class="listing"> </app-listing-page> -->

<app-listing-page class="listing"> </app-listing-page>
<app-listing-page class="listing1"> </app-listing-page>
<app-listing-page class="listing2"> </app-listing-page>
<app-listing-page class="listing3"> </app-listing-page>





<footer >
   <p class="footertext">Sitemap     Disclaimer     Privacy Policy     Corporate     © 2018 . iMoney.my</p>
    <div class="facebook"> 
      <a href="#" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/Facebook.png" alt="facebook" srcset=""></a>
    </div>
    <div class="twitter">
      <a href="#" target="_blank" rel="noopener noreferrer">
         <img src="assets/images/Twitter.png" alt="facebook" srcset=""></a>
   </div>
   <div class="instagram">
      <a href="#" target="_blank" rel="noopener noreferrer">
         <img src="assets/images/Instagram.png" alt="facebook" srcset=""></a>
   </div>
   <div class="youtube">
      <a href="#" target="_blank" rel="noopener noreferrer">
         <img src="assets/images/Youtube.png" alt="facebook" srcset=""></a>
   </div>
   <div class="pinterest">
      <a href="#" target="_blank" rel="noopener noreferrer">
         <img src="assets/images/Pinterest.png" alt="facebook" srcset=""></a>
   </div>
</footer>